=begin
#Endpoints

#Endpoints API for different services in SKIL

OpenAPI spec version: 1.1.0-beta

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module SkilCient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Adds an evaluation result
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param evaluation_results_entity The evaluation result entity
    # @param [Hash] opts the optional parameters
    # @return [EvaluationResultsEntity]
    def add_evaluation_result(model_history_server_id, evaluation_results_entity, opts = {})
      data, _status_code, _headers = add_evaluation_result_with_http_info(model_history_server_id, evaluation_results_entity, opts)
      data
    end

    # Adds an evaluation result
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param evaluation_results_entity The evaluation result entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(EvaluationResultsEntity, Fixnum, Hash)>] EvaluationResultsEntity data, response status code and response headers
    def add_evaluation_result_with_http_info(model_history_server_id, evaluation_results_entity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_evaluation_result ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.add_evaluation_result"
      end
      # verify the required parameter 'evaluation_results_entity' is set
      if @api_client.config.client_side_validation && evaluation_results_entity.nil?
        fail ArgumentError, "Missing the required parameter 'evaluation_results_entity' when calling DefaultApi.add_evaluation_result"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/revisions/evaluations/'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(evaluation_results_entity)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EvaluationResultsEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_evaluation_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds a number of examples to a minibatch ID given an AddExampleRequest.
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param add_example_request The add example request, encapsulating minibatch details and examples batch size
    # @param [Hash] opts the optional parameters
    # @return [AddExampleRequest]
    def add_example_for_batch(model_history_server_id, add_example_request, opts = {})
      data, _status_code, _headers = add_example_for_batch_with_http_info(model_history_server_id, add_example_request, opts)
      data
    end

    # Adds a number of examples to a minibatch ID given an AddExampleRequest.
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param add_example_request The add example request, encapsulating minibatch details and examples batch size
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddExampleRequest, Fixnum, Hash)>] AddExampleRequest data, response status code and response headers
    def add_example_for_batch_with_http_info(model_history_server_id, add_example_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_example_for_batch ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.add_example_for_batch"
      end
      # verify the required parameter 'add_example_request' is set
      if @api_client.config.client_side_validation && add_example_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_example_request' when calling DefaultApi.add_example_for_batch"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/exampleForBatch'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(add_example_request)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AddExampleRequest')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_example_for_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds an example to a minibatch
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param example_entity The example to add to the minibatch
    # @param [Hash] opts the optional parameters
    # @return [ExampleEntity]
    def add_example_to_minibatch(model_history_server_id, example_entity, opts = {})
      data, _status_code, _headers = add_example_to_minibatch_with_http_info(model_history_server_id, example_entity, opts)
      data
    end

    # Adds an example to a minibatch
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param example_entity The example to add to the minibatch
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExampleEntity, Fixnum, Hash)>] ExampleEntity data, response status code and response headers
    def add_example_to_minibatch_with_http_info(model_history_server_id, example_entity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_example_to_minibatch ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.add_example_to_minibatch"
      end
      # verify the required parameter 'example_entity' is set
      if @api_client.config.client_side_validation && example_entity.nil?
        fail ArgumentError, "Missing the required parameter 'example_entity' when calling DefaultApi.add_example_to_minibatch"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/example'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(example_entity)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExampleEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_example_to_minibatch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add an experiment, given an experiment entity
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param experiment_entity The experiment entity to add
    # @param [Hash] opts the optional parameters
    # @return [ExperimentEntity]
    def add_experiment(model_history_server_id, experiment_entity, opts = {})
      data, _status_code, _headers = add_experiment_with_http_info(model_history_server_id, experiment_entity, opts)
      data
    end

    # Add an experiment, given an experiment entity
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param experiment_entity The experiment entity to add
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExperimentEntity, Fixnum, Hash)>] ExperimentEntity data, response status code and response headers
    def add_experiment_with_http_info(model_history_server_id, experiment_entity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_experiment ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.add_experiment"
      end
      # verify the required parameter 'experiment_entity' is set
      if @api_client.config.client_side_validation && experiment_entity.nil?
        fail ArgumentError, "Missing the required parameter 'experiment_entity' when calling DefaultApi.add_experiment"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/experiment'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(experiment_entity)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExperimentEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds a minibatch
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param minibatch_entity The minibatch entity to add
    # @param [Hash] opts the optional parameters
    # @return [MinibatchEntity]
    def add_minibatch(model_history_server_id, minibatch_entity, opts = {})
      data, _status_code, _headers = add_minibatch_with_http_info(model_history_server_id, minibatch_entity, opts)
      data
    end

    # Adds a minibatch
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param minibatch_entity The minibatch entity to add
    # @param [Hash] opts the optional parameters
    # @return [Array<(MinibatchEntity, Fixnum, Hash)>] MinibatchEntity data, response status code and response headers
    def add_minibatch_with_http_info(model_history_server_id, minibatch_entity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_minibatch ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.add_minibatch"
      end
      # verify the required parameter 'minibatch_entity' is set
      if @api_client.config.client_side_validation && minibatch_entity.nil?
        fail ArgumentError, "Missing the required parameter 'minibatch_entity' when calling DefaultApi.add_minibatch"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/minibatch'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(minibatch_entity)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MinibatchEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_minibatch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds an evaluation feedback to the model against a given minibatch id.
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_feed_back_request The model feedback request object
    # @param [Hash] opts the optional parameters
    # @return [ModelFeedBackRequest]
    def add_model_feedback(model_history_server_id, model_feed_back_request, opts = {})
      data, _status_code, _headers = add_model_feedback_with_http_info(model_history_server_id, model_feed_back_request, opts)
      data
    end

    # Adds an evaluation feedback to the model against a given minibatch id.
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_feed_back_request The model feedback request object
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelFeedBackRequest, Fixnum, Hash)>] ModelFeedBackRequest data, response status code and response headers
    def add_model_feedback_with_http_info(model_history_server_id, model_feed_back_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_model_feedback ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.add_model_feedback"
      end
      # verify the required parameter 'model_feed_back_request' is set
      if @api_client.config.client_side_validation && model_feed_back_request.nil?
        fail ArgumentError, "Missing the required parameter 'model_feed_back_request' when calling DefaultApi.add_model_feedback"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/feedback'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(model_feed_back_request)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelFeedBackRequest')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_model_feedback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add a model history / workspace
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param add_model_history_request The model history request object
    # @param [Hash] opts the optional parameters
    # @return [ModelHistoryEntity]
    def add_model_history(model_history_server_id, add_model_history_request, opts = {})
      data, _status_code, _headers = add_model_history_with_http_info(model_history_server_id, add_model_history_request, opts)
      data
    end

    # Add a model history / workspace
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param add_model_history_request The model history request object
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelHistoryEntity, Fixnum, Hash)>] ModelHistoryEntity data, response status code and response headers
    def add_model_history_with_http_info(model_history_server_id, add_model_history_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_model_history ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.add_model_history"
      end
      # verify the required parameter 'add_model_history_request' is set
      if @api_client.config.client_side_validation && add_model_history_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_model_history_request' when calling DefaultApi.add_model_history"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/modelhistory'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(add_model_history_request)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelHistoryEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_model_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds a model
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_instance_entity The object encapsulating the model instance id and evaluation type to aggregate
    # @param [Hash] opts the optional parameters
    # @return [ModelInstanceEntity]
    def add_model_instance(model_history_server_id, model_instance_entity, opts = {})
      data, _status_code, _headers = add_model_instance_with_http_info(model_history_server_id, model_instance_entity, opts)
      data
    end

    # Adds a model
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_instance_entity The object encapsulating the model instance id and evaluation type to aggregate
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelInstanceEntity, Fixnum, Hash)>] ModelInstanceEntity data, response status code and response headers
    def add_model_instance_with_http_info(model_history_server_id, model_instance_entity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_model_instance ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.add_model_instance"
      end
      # verify the required parameter 'model_instance_entity' is set
      if @api_client.config.client_side_validation && model_instance_entity.nil?
        fail ArgumentError, "Missing the required parameter 'model_instance_entity' when calling DefaultApi.add_model_instance"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(model_instance_entity)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelInstanceEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_model_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds a resource
    # @param add_resource_request The Add resource request object
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def add_resource(add_resource_request, opts = {})
      data, _status_code, _headers = add_resource_with_http_info(add_resource_request, opts)
      data
    end

    # Adds a resource
    # @param add_resource_request The Add resource request object
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def add_resource_with_http_info(add_resource_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.add_resource ...'
      end
      # verify the required parameter 'add_resource_request' is set
      if @api_client.config.client_side_validation && add_resource_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_resource_request' when calling DefaultApi.add_resource"
      end
      # resource path
      local_var_path = '/resources/add/resource'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(add_resource_request)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#add_resource\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Aggregates the evaluaition results of a model instance, based on the evaluation type
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param aggregate_prediction The object encapsulating the model instance id and evaluation type to aggregate
    # @param [Hash] opts the optional parameters
    # @return [EvaluationResultsEntity]
    def aggregate_model_results(model_history_server_id, aggregate_prediction, opts = {})
      data, _status_code, _headers = aggregate_model_results_with_http_info(model_history_server_id, aggregate_prediction, opts)
      data
    end

    # Aggregates the evaluaition results of a model instance, based on the evaluation type
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param aggregate_prediction The object encapsulating the model instance id and evaluation type to aggregate
    # @param [Hash] opts the optional parameters
    # @return [Array<(EvaluationResultsEntity, Fixnum, Hash)>] EvaluationResultsEntity data, response status code and response headers
    def aggregate_model_results_with_http_info(model_history_server_id, aggregate_prediction, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.aggregate_model_results ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.aggregate_model_results"
      end
      # verify the required parameter 'aggregate_prediction' is set
      if @api_client.config.client_side_validation && aggregate_prediction.nil?
        fail ArgumentError, "Missing the required parameter 'aggregate_prediction' when calling DefaultApi.aggregate_model_results"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/aggregateresults'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(aggregate_prediction)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'EvaluationResultsEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#aggregate_model_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Use the deployed model to classify the input
    # @param body The input NDArray
    # @param deployment_name Name of the deployment group
    # @param version_name Version name of the endpoint. The default value is \&quot;default\&quot;
    # @param model_name ID or name of the deployed model
    # @param [Hash] opts the optional parameters
    # @return [ClassificationResult]
    def classify(body, deployment_name, version_name, model_name, opts = {})
      data, _status_code, _headers = classify_with_http_info(body, deployment_name, version_name, model_name, opts)
      data
    end

    # Use the deployed model to classify the input
    # @param body The input NDArray
    # @param deployment_name Name of the deployment group
    # @param version_name Version name of the endpoint. The default value is \&quot;default\&quot;
    # @param model_name ID or name of the deployed model
    # @param [Hash] opts the optional parameters
    # @return [Array<(ClassificationResult, Fixnum, Hash)>] ClassificationResult data, response status code and response headers
    def classify_with_http_info(body, deployment_name, version_name, model_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.classify ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.classify"
      end
      # verify the required parameter 'deployment_name' is set
      if @api_client.config.client_side_validation && deployment_name.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_name' when calling DefaultApi.classify"
      end
      # verify the required parameter 'version_name' is set
      if @api_client.config.client_side_validation && version_name.nil?
        fail ArgumentError, "Missing the required parameter 'version_name' when calling DefaultApi.classify"
      end
      # verify the required parameter 'model_name' is set
      if @api_client.config.client_side_validation && model_name.nil?
        fail ArgumentError, "Missing the required parameter 'model_name' when calling DefaultApi.classify"
      end
      # resource path
      local_var_path = '/endpoints/{deploymentName}/model/{modelName}/{versionName}/classify'.sub('{' + 'deploymentName' + '}', deployment_name.to_s).sub('{' + 'versionName' + '}', version_name.to_s).sub('{' + 'modelName' + '}', model_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ClassificationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#classify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Same as /classify but returns the output as Base64NDArrayBody
    # @param body The input NDArray
    # @param deployment_name Name of the deployment group
    # @param version_name Version name of the endpoint. The default value is \&quot;default\&quot;
    # @param model_name ID or name of the deployed model
    # @param [Hash] opts the optional parameters
    # @return [Base64NDArrayBody]
    def classifyarray(body, deployment_name, version_name, model_name, opts = {})
      data, _status_code, _headers = classifyarray_with_http_info(body, deployment_name, version_name, model_name, opts)
      data
    end

    # Same as /classify but returns the output as Base64NDArrayBody
    # @param body The input NDArray
    # @param deployment_name Name of the deployment group
    # @param version_name Version name of the endpoint. The default value is \&quot;default\&quot;
    # @param model_name ID or name of the deployed model
    # @param [Hash] opts the optional parameters
    # @return [Array<(Base64NDArrayBody, Fixnum, Hash)>] Base64NDArrayBody data, response status code and response headers
    def classifyarray_with_http_info(body, deployment_name, version_name, model_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.classifyarray ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.classifyarray"
      end
      # verify the required parameter 'deployment_name' is set
      if @api_client.config.client_side_validation && deployment_name.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_name' when calling DefaultApi.classifyarray"
      end
      # verify the required parameter 'version_name' is set
      if @api_client.config.client_side_validation && version_name.nil?
        fail ArgumentError, "Missing the required parameter 'version_name' when calling DefaultApi.classifyarray"
      end
      # verify the required parameter 'model_name' is set
      if @api_client.config.client_side_validation && model_name.nil?
        fail ArgumentError, "Missing the required parameter 'model_name' when calling DefaultApi.classifyarray"
      end
      # resource path
      local_var_path = '/endpoints/{deploymentName}/model/{modelName}/{versionName}/classifyarray'.sub('{' + 'deploymentName' + '}', deployment_name.to_s).sub('{' + 'versionName' + '}', version_name.to_s).sub('{' + 'modelName' + '}', model_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Base64NDArrayBody')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#classifyarray\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Use the deployed model to classify the input, using input image file from multipart form data.
    # @param deployment_name Name of the deployment group
    # @param version_name Version name of the endpoint. The default value is \&quot;default\&quot;
    # @param model_name ID or name of the deployed model
    # @param [Hash] opts the optional parameters
    # @option opts [File] :image The file to upload.
    # @return [ClassificationResult]
    def classifyimage(deployment_name, version_name, model_name, opts = {})
      data, _status_code, _headers = classifyimage_with_http_info(deployment_name, version_name, model_name, opts)
      data
    end

    # Use the deployed model to classify the input, using input image file from multipart form data.
    # @param deployment_name Name of the deployment group
    # @param version_name Version name of the endpoint. The default value is \&quot;default\&quot;
    # @param model_name ID or name of the deployed model
    # @param [Hash] opts the optional parameters
    # @option opts [File] :image The file to upload.
    # @return [Array<(ClassificationResult, Fixnum, Hash)>] ClassificationResult data, response status code and response headers
    def classifyimage_with_http_info(deployment_name, version_name, model_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.classifyimage ...'
      end
      # verify the required parameter 'deployment_name' is set
      if @api_client.config.client_side_validation && deployment_name.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_name' when calling DefaultApi.classifyimage"
      end
      # verify the required parameter 'version_name' is set
      if @api_client.config.client_side_validation && version_name.nil?
        fail ArgumentError, "Missing the required parameter 'version_name' when calling DefaultApi.classifyimage"
      end
      # verify the required parameter 'model_name' is set
      if @api_client.config.client_side_validation && model_name.nil?
        fail ArgumentError, "Missing the required parameter 'model_name' when calling DefaultApi.classifyimage"
      end
      # resource path
      local_var_path = '/endpoints/{deploymentName}/model/{modelName}/{versionName}/classifyimage'.sub('{' + 'deploymentName' + '}', deployment_name.to_s).sub('{' + 'versionName' + '}', version_name.to_s).sub('{' + 'modelName' + '}', model_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['image'] = opts[:'image'] if !opts[:'image'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ClassificationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#classifyimage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates model History
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_history_entity The model history entity
    # @param [Hash] opts the optional parameters
    # @return [ModelHistoryEntity]
    def create_model_history(model_history_server_id, model_history_entity, opts = {})
      data, _status_code, _headers = create_model_history_with_http_info(model_history_server_id, model_history_entity, opts)
      data
    end

    # Creates model History
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_history_entity The model history entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelHistoryEntity, Fixnum, Hash)>] ModelHistoryEntity data, response status code and response headers
    def create_model_history_with_http_info(model_history_server_id, model_history_entity, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.create_model_history ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.create_model_history"
      end
      # verify the required parameter 'model_history_entity' is set
      if @api_client.config.client_side_validation && model_history_entity.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_entity' when calling DefaultApi.create_model_history"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/revisions'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(model_history_entity)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelHistoryEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#create_model_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes an experiment, given an experiment entity
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param experiment_id the GUID of the experiment to delete
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse200]
    def delete_experiment(model_history_server_id, experiment_id, opts = {})
      data, _status_code, _headers = delete_experiment_with_http_info(model_history_server_id, experiment_id, opts)
      data
    end

    # Deletes an experiment, given an experiment entity
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param experiment_id the GUID of the experiment to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse200, Fixnum, Hash)>] InlineResponse200 data, response status code and response headers
    def delete_experiment_with_http_info(model_history_server_id, experiment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_experiment ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.delete_experiment"
      end
      # verify the required parameter 'experiment_id' is set
      if @api_client.config.client_side_validation && experiment_id.nil?
        fail ArgumentError, "Missing the required parameter 'experiment_id' when calling DefaultApi.delete_experiment"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/experiment/{experimentID}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'experimentID' + '}', experiment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a model by deployment and model id
    # @param deployment_id ID deployment group
    # @param model_id the id of the deployed model
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse200]
    def delete_model(deployment_id, model_id, opts = {})
      data, _status_code, _headers = delete_model_with_http_info(deployment_id, model_id, opts)
      data
    end

    # Delete a model by deployment and model id
    # @param deployment_id ID deployment group
    # @param model_id the id of the deployed model
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse200, Fixnum, Hash)>] InlineResponse200 data, response status code and response headers
    def delete_model_with_http_info(deployment_id, model_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_model ...'
      end
      # verify the required parameter 'deployment_id' is set
      if @api_client.config.client_side_validation && deployment_id.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_id' when calling DefaultApi.delete_model"
      end
      # verify the required parameter 'model_id' is set
      if @api_client.config.client_side_validation && model_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_id' when calling DefaultApi.delete_model"
      end
      # resource path
      local_var_path = '/deployment/{deploymentId}/model/{modelId}'.sub('{' + 'deploymentId' + '}', deployment_id.to_s).sub('{' + 'modelId' + '}', model_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_model\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a model history / workspace, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_history_id the GUID of the model history / workspace to delete
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse200]
    def delete_model_history(model_history_server_id, model_history_id, opts = {})
      data, _status_code, _headers = delete_model_history_with_http_info(model_history_server_id, model_history_id, opts)
      data
    end

    # Deletes a model history / workspace, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_history_id the GUID of the model history / workspace to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse200, Fixnum, Hash)>] InlineResponse200 data, response status code and response headers
    def delete_model_history_with_http_info(model_history_server_id, model_history_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_model_history ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.delete_model_history"
      end
      # verify the required parameter 'model_history_id' is set
      if @api_client.config.client_side_validation && model_history_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_id' when calling DefaultApi.delete_model_history"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/modelhistory/{modelHistoryID}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'modelHistoryID' + '}', model_history_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_model_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a model instance, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_instance_id GUID of the model instance to delete.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_model_instance(model_history_server_id, model_instance_id, opts = {})
      delete_model_instance_with_http_info(model_history_server_id, model_instance_id, opts)
      nil
    end

    # Deletes a model instance, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_instance_id GUID of the model instance to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_model_instance_with_http_info(model_history_server_id, model_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.delete_model_instance ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.delete_model_instance"
      end
      # verify the required parameter 'model_instance_id' is set
      if @api_client.config.client_side_validation && model_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_instance_id' when calling DefaultApi.delete_model_instance"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/{modelInstanceID}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'modelInstanceID' + '}', model_instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#delete_model_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deploy a model in a deployment group.
    # @param deployment_id ID deployment group
    # @param body the model import request
    # @param [Hash] opts the optional parameters
    # @return [ModelEntity]
    def deploy_model(deployment_id, body, opts = {})
      data, _status_code, _headers = deploy_model_with_http_info(deployment_id, body, opts)
      data
    end

    # Deploy a model in a deployment group.
    # @param deployment_id ID deployment group
    # @param body the model import request
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelEntity, Fixnum, Hash)>] ModelEntity data, response status code and response headers
    def deploy_model_with_http_info(deployment_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.deploy_model ...'
      end
      # verify the required parameter 'deployment_id' is set
      if @api_client.config.client_side_validation && deployment_id.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_id' when calling DefaultApi.deploy_model"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.deploy_model"
      end
      # resource path
      local_var_path = '/deployment/{deploymentId}/model'.sub('{' + 'deploymentId' + '}', deployment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#deploy_model\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a new deployment group.
    # @param body the deployment request
    # @param [Hash] opts the optional parameters
    # @return [DeploymentResponse]
    def deployment_create(body, opts = {})
      data, _status_code, _headers = deployment_create_with_http_info(body, opts)
      data
    end

    # Create a new deployment group.
    # @param body the deployment request
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeploymentResponse, Fixnum, Hash)>] DeploymentResponse data, response status code and response headers
    def deployment_create_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.deployment_create ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DefaultApi.deployment_create"
      end
      # resource path
      local_var_path = '/deployment'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DeploymentResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#deployment_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a deployment by id
    # @param deployment_id Id of the deployment group
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse200]
    def deployment_delete(deployment_id, opts = {})
      data, _status_code, _headers = deployment_delete_with_http_info(deployment_id, opts)
      data
    end

    # Delete a deployment by id
    # @param deployment_id Id of the deployment group
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse200, Fixnum, Hash)>] InlineResponse200 data, response status code and response headers
    def deployment_delete_with_http_info(deployment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.deployment_delete ...'
      end
      # verify the required parameter 'deployment_id' is set
      if @api_client.config.client_side_validation && deployment_id.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_id' when calling DefaultApi.deployment_delete"
      end
      # resource path
      local_var_path = '/deployment/{deploymentId}'.sub('{' + 'deploymentId' + '}', deployment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse200')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#deployment_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a deployment details by id
    # @param deployment_id Id of the deployment group
    # @param [Hash] opts the optional parameters
    # @return [DeploymentResponse]
    def deployment_get(deployment_id, opts = {})
      data, _status_code, _headers = deployment_get_with_http_info(deployment_id, opts)
      data
    end

    # Get a deployment details by id
    # @param deployment_id Id of the deployment group
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeploymentResponse, Fixnum, Hash)>] DeploymentResponse data, response status code and response headers
    def deployment_get_with_http_info(deployment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.deployment_get ...'
      end
      # verify the required parameter 'deployment_id' is set
      if @api_client.config.client_side_validation && deployment_id.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_id' when calling DefaultApi.deployment_get"
      end
      # resource path
      local_var_path = '/deployment/{deploymentId}'.sub('{' + 'deploymentId' + '}', deployment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DeploymentResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#deployment_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of deployments
    # @param [Hash] opts the optional parameters
    # @return [Array<DeploymentResponse>]
    def deployments(opts = {})
      data, _status_code, _headers = deployments_with_http_info(opts)
      data
    end

    # Get a list of deployments
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DeploymentResponse>, Fixnum, Hash)>] Array<DeploymentResponse> data, response status code and response headers
    def deployments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.deployments ...'
      end
      # resource path
      local_var_path = '/deployments'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<DeploymentResponse>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#deployments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Detect the objects, given a (input) prediction request
    # @param id the GUID for mapping the results in the detections
    # @param needs_preprocessing (true) if the image needs preprocessing
    # @param threshold A threshold, indicating the required surety for detecting a bounding box. For example, a threshold of 0.1 might give thousand bounding boxes for an image and a threshold of 0.99 might give none.
    # @param image_file the image file to detect objects from
    # @param deployment_name Name of the deployment group
    # @param version_name Version name of the endpoint. The default value is \&quot;default\&quot;
    # @param model_name ID or name of the deployed model
    # @param [Hash] opts the optional parameters
    # @return [DetectionResult]
    def detectobjects(id, needs_preprocessing, threshold, image_file, deployment_name, version_name, model_name, opts = {})
      data, _status_code, _headers = detectobjects_with_http_info(id, needs_preprocessing, threshold, image_file, deployment_name, version_name, model_name, opts)
      data
    end

    # Detect the objects, given a (input) prediction request
    # @param id the GUID for mapping the results in the detections
    # @param needs_preprocessing (true) if the image needs preprocessing
    # @param threshold A threshold, indicating the required surety for detecting a bounding box. For example, a threshold of 0.1 might give thousand bounding boxes for an image and a threshold of 0.99 might give none.
    # @param image_file the image file to detect objects from
    # @param deployment_name Name of the deployment group
    # @param version_name Version name of the endpoint. The default value is \&quot;default\&quot;
    # @param model_name ID or name of the deployed model
    # @param [Hash] opts the optional parameters
    # @return [Array<(DetectionResult, Fixnum, Hash)>] DetectionResult data, response status code and response headers
    def detectobjects_with_http_info(id, needs_preprocessing, threshold, image_file, deployment_name, version_name, model_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.detectobjects ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.detectobjects"
      end
      # verify the required parameter 'needs_preprocessing' is set
      if @api_client.config.client_side_validation && needs_preprocessing.nil?
        fail ArgumentError, "Missing the required parameter 'needs_preprocessing' when calling DefaultApi.detectobjects"
      end
      # verify the required parameter 'threshold' is set
      if @api_client.config.client_side_validation && threshold.nil?
        fail ArgumentError, "Missing the required parameter 'threshold' when calling DefaultApi.detectobjects"
      end
      # verify the required parameter 'image_file' is set
      if @api_client.config.client_side_validation && image_file.nil?
        fail ArgumentError, "Missing the required parameter 'image_file' when calling DefaultApi.detectobjects"
      end
      # verify the required parameter 'deployment_name' is set
      if @api_client.config.client_side_validation && deployment_name.nil?
        fail ArgumentError, "Missing the required parameter 'deployment_name' when calling DefaultApi.detectobjects"
      end
      # verify the required parameter 'version_name' is set
      if @api_client.config.client_side_validation && version_name.nil?
        fail ArgumentError, "Missing the required parameter 'version_name' when calling DefaultApi.detectobjects"
      end
      # verify the required parameter 'model_name' is set
      if @api_client.config.client_side_validation && model_name.nil?
        fail ArgumentError, "Missing the required parameter 'model_name' when calling DefaultApi.detectobjects"
      end
      # resource path
      local_var_path = '/endpoints/{deploymentName}/model/{modelName}/{versionName}/detectobjects'.sub('{' + 'deploymentName' + '}', deployment_name.to_s).sub('{' + 'versionName' + '}', version_name.to_s).sub('{' + 'modelName' + '}', model_name.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params['id'] = id
      form_params['needsPreprocessing'] = needs_preprocessing
      form_params['threshold'] = threshold
      form_params['imageFile'] = image_file

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DetectionResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#detectobjects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets the best model among the given model instance IDs, based on the evaluation type and column metric
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param best_model Object encapsulating the model ids, eval type and column metric name
    # @param [Hash] opts the optional parameters
    # @return [ModelInstanceEntity]
    def get_best_model_among_model_ids(model_history_server_id, best_model, opts = {})
      data, _status_code, _headers = get_best_model_among_model_ids_with_http_info(model_history_server_id, best_model, opts)
      data
    end

    # Gets the best model among the given model instance IDs, based on the evaluation type and column metric
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param best_model Object encapsulating the model ids, eval type and column metric name
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelInstanceEntity, Fixnum, Hash)>] ModelInstanceEntity data, response status code and response headers
    def get_best_model_among_model_ids_with_http_info(model_history_server_id, best_model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_best_model_among_model_ids ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.get_best_model_among_model_ids"
      end
      # verify the required parameter 'best_model' is set
      if @api_client.config.client_side_validation && best_model.nil?
        fail ArgumentError, "Missing the required parameter 'best_model' when calling DefaultApi.get_best_model_among_model_ids"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/best'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(best_model)
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelInstanceEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_best_model_among_model_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets the list of evaluation results entity, given a model instance ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_instance_id GUID of the model instance to get evaluation results for.
    # @param [Hash] opts the optional parameters
    # @return [Array<EvaluationResultsEntity>]
    def get_evaluation_for_model_id(model_history_server_id, model_instance_id, opts = {})
      data, _status_code, _headers = get_evaluation_for_model_id_with_http_info(model_history_server_id, model_instance_id, opts)
      data
    end

    # Gets the list of evaluation results entity, given a model instance ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_instance_id GUID of the model instance to get evaluation results for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<EvaluationResultsEntity>, Fixnum, Hash)>] Array<EvaluationResultsEntity> data, response status code and response headers
    def get_evaluation_for_model_id_with_http_info(model_history_server_id, model_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_evaluation_for_model_id ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.get_evaluation_for_model_id"
      end
      # verify the required parameter 'model_instance_id' is set
      if @api_client.config.client_side_validation && model_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_instance_id' when calling DefaultApi.get_evaluation_for_model_id"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/revisions/evaluations/{modelInstanceID}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'modelInstanceID' + '}', model_instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<EvaluationResultsEntity>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_evaluation_for_model_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets all the examples for a minibatch ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param minibatch_id The GUID of the minibatch
    # @param [Hash] opts the optional parameters
    # @return [Array<ExampleEntity>]
    def get_examples_for_minibatch(model_history_server_id, minibatch_id, opts = {})
      data, _status_code, _headers = get_examples_for_minibatch_with_http_info(model_history_server_id, minibatch_id, opts)
      data
    end

    # Gets all the examples for a minibatch ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param minibatch_id The GUID of the minibatch
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ExampleEntity>, Fixnum, Hash)>] Array<ExampleEntity> data, response status code and response headers
    def get_examples_for_minibatch_with_http_info(model_history_server_id, minibatch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_examples_for_minibatch ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.get_examples_for_minibatch"
      end
      # verify the required parameter 'minibatch_id' is set
      if @api_client.config.client_side_validation && minibatch_id.nil?
        fail ArgumentError, "Missing the required parameter 'minibatch_id' when calling DefaultApi.get_examples_for_minibatch"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/example/{minibatchId}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'minibatchId' + '}', minibatch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ExampleEntity>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_examples_for_minibatch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtain an experiment's details, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param experiment_id the GUID of the experiment to obtain
    # @param [Hash] opts the optional parameters
    # @return [ExperimentEntity]
    def get_experiment(model_history_server_id, experiment_id, opts = {})
      data, _status_code, _headers = get_experiment_with_http_info(model_history_server_id, experiment_id, opts)
      data
    end

    # Obtain an experiment&#39;s details, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param experiment_id the GUID of the experiment to obtain
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExperimentEntity, Fixnum, Hash)>] ExperimentEntity data, response status code and response headers
    def get_experiment_with_http_info(model_history_server_id, experiment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_experiment ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.get_experiment"
      end
      # verify the required parameter 'experiment_id' is set
      if @api_client.config.client_side_validation && experiment_id.nil?
        fail ArgumentError, "Missing the required parameter 'experiment_id' when calling DefaultApi.get_experiment"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/experiment/{experimentID}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'experimentID' + '}', experiment_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExperimentEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtain all experiments for a model history / workspace
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_history_id the GUID of the model history / workspace
    # @param [Hash] opts the optional parameters
    # @return [ExperimentEntity]
    def get_experiments_for_model_history(model_history_server_id, model_history_id, opts = {})
      data, _status_code, _headers = get_experiments_for_model_history_with_http_info(model_history_server_id, model_history_id, opts)
      data
    end

    # Obtain all experiments for a model history / workspace
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_history_id the GUID of the model history / workspace
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExperimentEntity, Fixnum, Hash)>] ExperimentEntity data, response status code and response headers
    def get_experiments_for_model_history_with_http_info(model_history_server_id, model_history_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_experiments_for_model_history ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.get_experiments_for_model_history"
      end
      # verify the required parameter 'model_history_id' is set
      if @api_client.config.client_side_validation && model_history_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_id' when calling DefaultApi.get_experiments_for_model_history"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/experiments/{modelHistoryID}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'modelHistoryID' + '}', model_history_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExperimentEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_experiments_for_model_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets a minibatch for the model
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param minibatch_id The GUID of the minibatch
    # @param [Hash] opts the optional parameters
    # @return [MinibatchEntity]
    def get_minibatch(model_history_server_id, minibatch_id, opts = {})
      data, _status_code, _headers = get_minibatch_with_http_info(model_history_server_id, minibatch_id, opts)
      data
    end

    # Gets a minibatch for the model
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param minibatch_id The GUID of the minibatch
    # @param [Hash] opts the optional parameters
    # @return [Array<(MinibatchEntity, Fixnum, Hash)>] MinibatchEntity data, response status code and response headers
    def get_minibatch_with_http_info(model_history_server_id, minibatch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_minibatch ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.get_minibatch"
      end
      # verify the required parameter 'minibatch_id' is set
      if @api_client.config.client_side_validation && minibatch_id.nil?
        fail ArgumentError, "Missing the required parameter 'minibatch_id' when calling DefaultApi.get_minibatch"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/minibatch/{minibatchId}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'minibatchId' + '}', minibatch_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'MinibatchEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_minibatch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets a model history, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_history_id GUID of the model history to get information of.
    # @param [Hash] opts the optional parameters
    # @return [ModelHistoryEntity]
    def get_model_history(model_history_server_id, model_history_id, opts = {})
      data, _status_code, _headers = get_model_history_with_http_info(model_history_server_id, model_history_id, opts)
      data
    end

    # Gets a model history, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_history_id GUID of the model history to get information of.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelHistoryEntity, Fixnum, Hash)>] ModelHistoryEntity data, response status code and response headers
    def get_model_history_with_http_info(model_history_server_id, model_history_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_model_history ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.get_model_history"
      end
      # verify the required parameter 'model_history_id' is set
      if @api_client.config.client_side_validation && model_history_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_id' when calling DefaultApi.get_model_history"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/revision/{modelHistoryID}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'modelHistoryID' + '}', model_history_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelHistoryEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_model_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets a model instance, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_instance_id GUID of the model instance to get information of.
    # @param [Hash] opts the optional parameters
    # @return [ModelInstanceEntity]
    def get_model_instance(model_history_server_id, model_instance_id, opts = {})
      data, _status_code, _headers = get_model_instance_with_http_info(model_history_server_id, model_instance_id, opts)
      data
    end

    # Gets a model instance, given its ID
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param model_instance_id GUID of the model instance to get information of.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelInstanceEntity, Fixnum, Hash)>] ModelInstanceEntity data, response status code and response headers
    def get_model_instance_with_http_info(model_history_server_id, model_instance_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.get_model_instance ...'
      end
      # verify the required parameter 'model_history_server_id' is set
      if @api_client.config.client_side_validation && model_history_server_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_history_server_id' when calling DefaultApi.get_model_instance"
      end
      # verify the required parameter 'model_instance_id' is set
      if @api_client.config.client_side_validation && model_instance_id.nil?
        fail ArgumentError, "Missing the required parameter 'model_instance_id' when calling DefaultApi.get_model_instance"
      end
      # resource path
      local_var_path = '/rpc/{modelHistoryServerId}/model/{modelInstanceID}'.sub('{' + 'modelHistoryServerId' + '}', model_history_server_id.to_s).sub('{' + 'modelInstanceID' + '}', model_instance_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['api_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelInstanceEntity')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#get_model_instance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtain a list of all the models for an experiment
    # @param model_history_server_id Process GUID of the model history server. Run &#x60;$SKIL_HOME/sbin/skil services&#x60; in a console to find out the model history server GUID.
    # @param experiment_id the GUID of the experiment
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelInstanceEntity>]
    def get_models_for_experiment(model_history_server_id, experiment_id, opts = {})
[...]
